<div animation="slide-left-right" ng-controller="ProductCtrl">
	<ion-header-bar align-title="center" class="bar-balanced">
	  <h1 class="title"> <i class="ion ion-home"></i> Pengiriman Barang </h1>
	</ion-header-bar>
  	<ion-content class="padding" style="background-color: white;">
		<div class="list list-inset">
			<label class="item item-input item-stacked-label">
		    	<span class="input-label">Kode Transaksi</span>
		    	<input type="text" placeholder="Kode Transaksi">
		  	</label>
			<label class="item item-input item-stacked-label">
		    	<span class="input-label">No. Resi</span>
		    	<input type="text" placeholder="No. Resi">
		  	</label>
		  	<button class="button button-full button-positive">
		  	  Save
		  	</button>
		</div>
  	</ion-content>
</div>
