<ion-view title="Konfirmasi Pembayaran">
  <ion-content class="padding" ng-controller="ProductCtrl">
		<div class="list list-inset">
			<label class="item item-input item-stacked-label">
		    	<span class="input-label">Kode Pemesanan</span>
		    	<input type="text" placeholder="Kode Pemesanan">
		  	</label>
			<label class="item item-input item-stacked-label">
		    	<span class="input-label">Jumlah Pembayaran</span>
		    	<input type="text" placeholder="Jumlah Pembayaran">
		  	</label>
			<label class="item item-input item-stacked-label">
		    	<span class="input-label">Tipe Pembayaran</span>
		    	<input type="text" placeholder="Tipe Pembayaran">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Status Pembayaran</span>
		    	<input type="text" placeholder="Status Pembayaran">
		  	</label>
		  	<button class="button button-full button-positive">
		  	  Save
		  	</button>
		</div>
  	</ion-content>
</ion-view>
