<div animation="slide-left-right" ng-controller="ProductCtrl">
	<ion-header-bar align-title="center" class="bar-balanced">
	  <h1 class="title"> <i class="ion ion-home"></i> List Produk </h1>
	</ion-header-bar>
  	<ion-content class="padding" style="background-color: white;">
		<a class="item item-avatar" href="/#/tab/edit-product/1">
	      <img src="venkman.jpg">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	   </a>
	   <a class="item item-avatar" href="#">
	      <img src="venkman.jpg">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	   </a>
	   <a class="item item-avatar" href="#">
	      <img src="venkman.jpg">
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	   </a>
  	</ion-content>
</div>
