<div animation="slide-left-right">
	<ion-header-bar align-title="center" class="bar-balanced">
	  <h1 class="title"> <i class="ion ion-home"></i> Menu Konfirmasi Pembayaran </h1>
	</ion-header-bar>
  	<ion-content class="padding" style="background-color: white;">
  		<button class="button button-full button-positive" ng-click="konfirmpem()">
			Konfirmasi Pembayaran
		</button>
		<button class="button button-full button-positive" ng-click="cekkonfirmpem()">
			Cek Konfirmasi Pembayaran
		</button>
  	</ion-content>
</div>