<ion-view title="Admin">
  <ion-content class="padding">
    	<div class="list list-inset">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Username</span>
		    <input type="text" placeholder="usernam">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Nama</span>
		    <input type="text" placeholder="nama">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="email">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Alamat</span>
		    <input type="text" placeholder="alamat">
		  </label>
		</div>
		<div class="well well-sm" align="center">
			Edit Password Admin
		</div>
		<div class="list list-inset">
			<label class="item item-input item-stacked-label">
		    <span class="input-label">Password Lama</span>
		    <input type="text" placeholder="Password">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Password Baru</span>
		    <input type="text" placeholder="Password baru">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Ulangi Password Baru</span>
		    <input type="text" placeholder="Ulangi Password Baru">
		  </label>
		</div>
		<button class="button button-block button-positive">
		  Submit
		</button>
  </ion-content>
</ion-view>
