<div animation="slide-left-right" ng-controller="ProductCtrl">
	<ion-header-bar align-title="center" class="bar-balanced">
	  <!-- <div class="buttons">
	    <button class="button" ng-click="doSomething()">Log out <i class="icon ion-log-out"></i></button>
	  </div> -->
	  <h1 class="title"> <i class="ion ion-home"></i> Menu Kategori </h1>
	</ion-header-bar>
  	<ion-content class="padding" style="background-color: white;">
		<button class="button button-full button-positive" ng-click="tambahproduct()">
		  Tambah Produk
		</button>
		<button class="button button-full button-positive" ng-click="product()">
		  Edit Produk
		</button>
		<button class="button button-full button-positive" ng-click="kategoriEc()">
		  Kategori
		</button>
  	</ion-content>
</div>
