<div ng-controller="homeCtrl">
	<ion-header-bar align-title="center" class="bar-positive hidden">
	  	<div class="buttons">
	    <button class="button" ng-click="doSomething()">Left Button</button>
	  	</div>
	  	<h1 class="title"><img class="title-image" src="http://www.ionicframework.com/img/ionic-logo-white.svg" width="123" height="43" /></h1>
	  	<div class="buttons">
	    	<button class="button">Right Button</button>
	  	</div>
	</ion-header-bar>
	<ion-header-bar align-title="center" class="bar-positive">
	  <div class="buttons">
	    <button class="button" ng-click="doSomething()">Left Button</button>
	  </div>
	  <h1 class="title"> <i class="ion ion-home"></i> Home</h1>
	  <div class="buttons">
	    <button class="button">Right Button</button>
	  </div>
	</ion-header-bar>
  	<ion-content class="padding" style="background-color: white;">
    	<ion-refresher
    	   pulling-text="Pull to refresh..."
    	   on-refresh="doRefresh()"
    	   refreshing-icon="ion-loading-c">
    	</ion-refresher>
		<div class="list card" ng-repeat="item in items">
		  	<div class="item item-avatar">
		    	<img src="http://placehold.it/40x40">
		    	<h2>Pretty Hate Machine</h2>
		    	<p>Nine Inch Nails</p>
		  	</div>
		  	<a class="item assertive" href="#">
		  		<button type="button" class="btn btn-primary">Submit</button>
		    	Start listening
		  	</a>
		</div>
  	</ion-content>
</div>
